/*Подключение шрифтов*/
/*Inter(замена TradeGothic)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/*Обнуление стилей*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*//*--------------------*//*--------------------*/

.wrapper{
    width: 100%;
    position: relative;

}
.main-container{
    max-width: 1380px;
    margin: 0 auto;
}
.small-container{
    max-width: 1232px;
    margin: 0 auto;
}

/*header and header__body*/
.main-page__header{
    margin: 30px 0 0 0;
    background: url(@/assets/img/header__background.png), #D9D9D9;

    border-radius: 24px;
}
.main-page__header__body{
    display: flex;
    align-items: center;
    padding: 24px 32px 24px 32px;
    justify-content: space-between;
}
.main-page__header__body__left{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    gap: 32px;


}
.main-page__header__body__left div{
    display: flex;
    align-items: center;
    gap: 4px;
}
.main-page__header__body__left div a{
     color: #FFFFFF;
}
.main-page__header__body__left div a:hover{
    color: #c2c2c2;
}
.main-page__header__body__logo{

}
.main-page__header__body__logo img{

}
.main-page__header__body__right{
    display: flex;
    align-items: center;
    gap: 32px;
}
.login__link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.login__link:hover{
    color: #c2c2c2;
    transition: 0.3s ease all;
}
.signup__link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #112211;
    padding: 15.5px 24px;
    background: #FFFFFF;
    border-radius: 8px;
}
.signup__link:hover{
    background: #c2c2c2;
    transition: 0.3s ease all;
}


/*main-page__title-box*/
.main-page__title-box{
    text-align: center;
    padding: 54px 0 247px 0;
}
.main-page__title-box__headline{
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.main-page__title-box__title{
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    color: white;
    font-weight: bold;
    padding: 4px 0 0 0;
}
.main-page__title-box__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 16px 0 0 0;
}


/*main-page__search-menu*/
.main-page__search-menu{

}
.main-page__search-menu__body{
    padding: 16px 16px 32px 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.15);
    border-radius: 16px;
    width: 1232px;
    position: absolute;
    top: 470px;

}
.main-page__search-menu__body__form{

}


/*main-page__search-menu*__body__form__up*/
.main-page__search-menu__body__form__up{
    display: flex;
}
.main-page__search-menu__body__form__up__flights-box{
    display: flex;
    padding: 12px 0;
    gap: 10px;

}
.main-page__search-menu__body__form__up__flights-box label{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.main-page__search-menu__body__form__up__flights-box label p{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
}
.main-page__search-menu__body__form__up__stays-box{
    display: flex;
    flex-direction: row-reverse;
    padding: 12px 0;
    gap: 10px;
}
.main-page__search-menu__body__form__up__stays-box label{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer
}
.main-page__search-menu__body__form__up__stays-box label p{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
}


/*main-page__search-menu__body__form__middle*/
.main-page__search-menu__body__form__middle{
    display: flex;
    justify-content: space-between;
    margin: 48px 0 0 0;
}
.select-box__from-to{

}
.select-box__from{
    z-index: 2;
}
.select-box__to{
    z-index: 1;
}


/*main-page__search-menu__body__form__bottom*/
.main-page__search-menu__body__form__bottom{
    margin: 32px 0 0 0;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content:flex-end;
}
.main-page__search-menu__body__form__bottom a{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;

}
.main-button{
    display: flex;
    gap: 4px;
    padding: 15.5px 16px;
    background: #9BE0C8;
    border-radius: 4px;
    align-items: center;
    max-width: 144px;
    color: #1C1B1F;
}
.main-button:hover{
    background: #8DD3BB;
}


/*main-page__list-of-places*/
.main-page__list-of-places{
    margin: 263px 0 80px 0;
}
.main-page__list-of-places__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px 0;
}
.main-page__list-of-places__title-box{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.main-page__list-of-places__title{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.main-page__list-of-places__subtitle{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    opacity: 0.75;
}
.main-page__list-of-places__button{

}
.main-button-bordered{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    padding: 11.5px 16px;
    border: 1px solid #8DD3BB;
    border-radius: 4px;
}
.main-button-bordered:hover{
    border: 2px solid #8DD3BB;

}
.main-page__list-of-places__box{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.main-page__list-of-places__box__up{
    display: flex;
    gap: 32px;
}
.main-page__list-of-places__box__middle{
    display: flex;
    gap: 32px;
}
.main-page__list-of-places__box__bottom{
    display: flex;
    gap: 32px;
}
.main-page__list-of-places__card{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 16px;
    width: 389.3px;
}
.main-page__list-of-places__card__body{
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;



}
.main-page__list-of-places__card__text-box{
    display: flex;
    flex-direction: column;

}
.main-page__list-of-places__card__text-box__title{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    opacity: 0.7;
}
.main-page__list-of-places__card__text-box__subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    gap: 8px;
}
.main-page__list-of-places__card__text-box__subtitle p{
    text-align: center;
    align-items: center;
}


/*main-page__categories*/
.main-page__categories{

}
.main-page__categories__body{
    display: flex;
    justify-content: space-between;

}
.main-page__categories__body__left{
    background: url("@/assets/img/main_page_category1.png");
    width: 604px;
    text-align: center;
    background-repeat: no-repeat;
}
.main-page__categories__body__right{
    background: url("@/assets/img/main_page_category2.png");
    width: 604px;
    text-align: center;
    background-repeat: no-repeat;

}
.main-page__categories__body__left__title-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 372px 0 0 0;
}
.main-page__categories__body__left__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
}
.main-page__categories__body__left__subtitle{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

}
.main-page__categories__body__left__button {
    display: flex;
    justify-content: center;
    padding: 16px 0 44px 0;
}
.main-page__categories__body__left__button a{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}


/*main-page__footer*/
.main-page__footer{
    margin: 90px 0 0 0;
}
.main-page__footer__body{

}
.main-page__footer__subscribe-box{
    background: #CDEAE1;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 20px;
}
.main-page__footer__subscribe-box__body{
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 0 24px;
}
.main-page__footer__subscribe-box__body__left{
    width: 593px;
}
.main-page__footer__subscribe-box__body__left__title-box{
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 0;
}
.main-page__footer__subscribe-box__body__left__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #112211;
    padding: 0 0 24px 0;
}
.main-page__footer__subscribe-box__body__left__subtitle{
    display: flex;
    flex-direction: column;
}
.main-page__footer__subscribe-box__body__left__subtitle__head{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #112211;
    opacity: 0.8;
}
.main-page__footer__subscribe-box__body__left__subtitle__bottom{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    opacity: 0.7;
    margin: 0 0 16px 0;
}
.main-page__footer__subscribe-box__body__left__input-box{
    display: flex;
    gap: 16px;
}
.main-page__footer__subscribe-box__body__left__input-box input[type='email']{
    padding: 18px 0 18px 16px;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;


    color: #1C1B1F;


}
.main-page__footer__subscribe-box__body__left__input-box a{
    padding: 19.5px 16px;
    color: white;
    background: #112211;
    border-radius: 4px;
}

.main-page__footer__bottom{
    padding: 100px 0 64px 0;

}
.main-page__footer__bottom__body{
    display: flex;
    justify-content: space-between;
}
.main-page__footer__bottom__left{

}
.footer__logo{
    padding: 0 0 24px 0;
}
.main-page__footer__bottom__left__icons{
    display: flex;
    gap: 12px;
}
.main-page__footer__bottom__lists-box{
    display: flex;
    gap: 24px;
}
.main-page__footer__bottom__list{
    width: 175.2px;
}
.main-page__footer__bottom__list__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    padding:  0 0 16px 0;
}
.main-page__footer__bottom__list ul{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.main-page__footer__bottom__list a{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #112211;
    opacity: 0.7;
}

/*Account*/
.header{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}
.header__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
}
.header__body__left{
    display: flex;
    gap: 32px;
}
.header__body__left div{
    display: flex;
    align-items: center;
    gap: 4px;
}
.header__body__left a{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}
.header__body__right{
    display: flex;
    gap: 54px;

}
.header__favourites-link{
    display: flex;
    align-items: center;
    gap: 4px;
}
.header__favourites-link p{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}
.header__profile-link{
    display: flex;
    align-items: center;
    gap: 4px;
}
.header__profile-link p{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}
.account__main-block{

}
.account__main-block__body{

    padding: 48px 0 0 0;
}
.account__main-block__banner{
    background: url("@/assets/img/account__banner.png");
    width: 100%;
    height: 350px;
    position: relative;

}
.account__main-block__banner label{
    position: absolute;
    right: 15px;
    bottom: 15px;

}
.account__main-block__banner p{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}
.account__main-block__body_info{
    position: relative;


}
.account__main-block__body_info__avatar-box{
    position: absolute;
    /*position: relative;*/
    width: 160px;
    height: 160px;
    top: -50px;
    left: 40%;
}
.image-box{
    width: 160px;
    height: 160px;
}
.image-box img{
    width: 100%;
}
.account__main-block__body_info__avatar-box label{
    position: absolute;
    right: 0;
    bottom: 15px;
    right: 15px;
}
.account__main-block__body_info__avatar-box label img{
    background: #FF8682;
    border-radius: 45px;
    padding: 10px;
}
.account__main-block__body_info__text-box{
    position: absolute;
    left: 40%;
    text-align: center;
    padding: 100px 0 0 0;
}
.account__main-block__body_info__name{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #112211;
}
.account__main-block__body_info__email{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #112211;
    opacity: 0.75;
}

.account__main-block__body_info__personal{
    padding: 203px 0 0 0;
}
.account__main-block__body_info__personal__menu{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 12px;
    justify-content: space-between;
    padding: 16px 24px;
}
.account__main-block__body_info__personal__menu__account-box{
    display: flex;
    align-items: center;

}
.account__main-block__body_info__personal__menu__account-box label{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #112211;



}
.account__main-block__body_info__personal__menu__history-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.account__main-block__body_info__personal__menu__history-box label{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
}

.account__main-block__body_info__personal__menu__payment-methods-box{
    display: flex;
    align-items: center;


}
.account__main-block__body_info__personal__menu__payment-methods-box label{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
}




/*login-section*/
.login-section{

}
.login-section__body{
    margin: 104px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.login-section__body__left{
    max-width: 512px;
}
.login-section__body__left__logo{
    padding: 0 0 64px 0;
}
.login-section__body__left__form-box{

}
.login-section__body__left__form-box__title-box{

}
.login-section__body__left__form-box__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    padding: 0 0 16px 0;
}
.login-section__body__left__form-box__subtitle{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    opacity: 0.75;
}
.login-section__body__left__form-box__input-box{
    padding: 33px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.login-section__body__left__form-box__input-box__email{
    position: relative;
}
.login-section__body__left__form-box__input-box__password{
    position: relative;
}
.input-label{
    position: absolute;
    left: 16px;
    bottom: 50px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1C1B1F;
    padding: 0 4px;
    background: white;
}

.login-section__body__left__form-box__input-box__email div{
    max-width: 512px;
}
.login-section__body__left__form-box__input-box__password div{
    max-width: 512px;
}
.main-input{
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1C1B1F;
    padding: 18px 0 18px 16px;
    background: #FFFFFF;
    border: 1px solid #79747E;
    border-radius: 4px;
}
.login-section__body__left__form-box__input-box__remember{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login-section__body__left__form-box__input-box__remember-box{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}
.forget-pass__link{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FF8682;
}
.login-section__body__left__form-box__button-box{
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.login-section__body__left__form-box__button-box__login {
    display: flex;
    background: #9BE0C8;
    border-radius: 4px;
    padding: 15.5px 0 15px 0;
    justify-content: center;
    cursor: pointer;

}
.login-section__body__left__form-box__button-box__login:hover{
    transition: 0.3s ease all;
    background: #8DD3BB;
}
.login-section__body__left__form-box__button-box__login a{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}
.login-section__body__left__form-box__button-box__signup{

}
.login-section__body__left__form-box__button-box__signup p{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #112211;
    text-align: center;
}
.login-section__body__left__form-box__button-box__signup p a{
    color: #FF8682;
}
.login-section__body__left__form-box__different-login{
    display: flex;
    align-items: center;
    gap: 16px;
}
.login-section__body__left__form-box__different-login p{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    opacity: 0.5;
}
.login-section__body__left__form-box__different-login-box{
    display: flex;
    gap: 16px;
    padding: 40px 0 0 0;
}
.login-section__body__left__form-box__different-login-box a{
    padding: 16px 68px;
    border: 1px solid #8DD3BB;
    border-radius: 4px;
}


/*signup-section*/
.signup-section{

}
.signup-section__body{
    margin: 104px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.signup-section__body__left{
    /*max-width: 488px;*/
}
.signup-section__body__left img{
    object-fit: cover;
    width: 488px;
    height: 816px;
}
.signup-section__body__right{
    width: 640px;
}
.signup-section__body__right__logo{

}
.signup-section__body__right__form-box__title-box{
    display: flex;
    flex-direction: column;
    margin: 64px 0 0 0;
}
.signup-section__body__right__form-box__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    padding: 0 0 16px 0;
}
.signup-section__body__right__form-box__subtitle{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #112211;
    opacity: 0.75;
}
.signup-section__body__right__form-box__input-box{
    margin: 48px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.signup-section__body__right__form-box__input-box__personal{
    display: flex;
    max-width: 640px;
    gap: 24px;

}
.signup-section__body__right__form-box__input-box__another{
    display: flex;
    max-width: 640px;
    gap: 24px;
}
.signup-section__body__left__form-box__input-box__firstname{
    position: relative;
    width: 100%;
}
.signup-section__body__left__form-box__input-box__firstname div{
    max-width: 616px;
}
.signup-section__body__left__form-box__input-box_lastname{
    position: relative;
    width: 100%;
}
.signup-section__body__left__form-box__input-box__lastname div{
    max-width: 616px;
}
.signup-section__body__left__form-box__input-box__email{
    position: relative;
    width: 100%;
}
.signup-section__body__left__form-box__input-box__email div{
    max-width: 616px;
}
.signup-section__body__left__form-box__input-box__phone{
    position: relative;
    width: 100%;
}
.signup-section__body__left__form-box__input-box__phone div{
    max-width: 616px;
}
.signup-section__body__left__form-box__input-box__password{
    position: relative;
}
.signup-section__body__left__form-box__input-box__password-confirm{
    position: relative;
}
.signup-section__body__left__form-box__input-box__terms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.signup-section__body__left__form-box__input-box__terms-box{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
}
.signup-section__body__left__form-box__input-box__terms-box label a{
    color: #FF8682;
}

